.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    max-width: 1200px;
}
.photo {
    width: 350px;
    height: 350px;
    object-fit: cover;
    padding: 5px;
}
.page {
    min-height: 100%;
    display: flex;
    justify-content: center;
}
a {
    line-height: 0;
}
.header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.centerh {
    width: 100%;
    max-width: 1200px;
    margin-left: 120px;
}
@media only screen and (max-width: 600px) {
    .centerh {
        width:auto;
        margin: 0;
    }
}
@keyframes fadeIn {
0% {
    transform:translateY(20px);
    opacity: 0;
}
100% {
    transform:translateY(0);
    opacity: 1;
}
}
a:nth-child(1) {
animation: fadeIn 0.2s ease;
}
a:nth-child(2) {
animation: fadeIn 0.3s ease;
}
a:nth-child(3) {
animation: fadeIn 0.4s ease;
}
a:nth-child(4) {
animation: fadeIn 0.5s ease;
}
a:nth-child(5) {
animation: fadeIn 0.6s ease;
}
a:nth-child(6) {
animation: fadeIn 0.7s ease;
}
a:nth-child(7) {
animation: fadeIn 0.8s ease;
}
a:nth-child(8) {
animation: fadeIn 0.9s ease;
}