[submodule "scribe"]
	path = scribe
	url = https://github.com/3r1s-s/scribe.git

[submodule "weather"]
	path = weather
	url = https://github.com/3r1s-s/weather.git

[submodule "meo"]
	path = meo
	url = https://github.com/3r1s-s/meo.git

[submodule "gnaw"]
	path = gnaw
	url = https://github.com/3r1s-s/gnaw.git

[submodule "markpad"]
	path = markpad
	url = https://github.com/3r1s-s/markpad.git
