html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    font-family: ImFellDoublePica;    
    background-color: #000;
    background-image: url(images/bg2.jpg);
    color: #e3e3e3;
    background-repeat: repeat-x;
    /*background-repeat: no-repeat;*/
    background-position: bottom;
    background-attachment: fixed;
}
a {
    color: #e3e3e3;
}
li {
    list-style:lower-greek;
}

/*Fonts*/

@font-face {
    font-family: IMFellDoublePica;
    src: url(fonts/IMFellDoublePica/IMFellDoublePica-Regular.ttf);
    font-style: normal;
}

@font-face {
    font-family: IMFellDoublePica;
    src: url(fonts/IMFellDoublePica/IMFellDoublePica-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: Hiragino Maru Gothic ProN;
    src: url(fonts/HiraginoMaruGothicProN/Hiragino-Maru-Gothic-ProN-W4.otf);
}