body {
    margin: 0;
    font-family: Arial;
    background-color: #b190fe;
    color: #513593;
}

@media (prefers-color-scheme: dark) {

body {
    background-color: #513593;
    color: #b190fe;
}

}

p {
    margin: 0px;
}

a {
    color: inherit;
}

.main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-inner {
    display: block;
    padding: 30px;
}

.artist {
    font-size: 20px;
}

.info {
    font-size: 20px;
}

/*Fonts*/

@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: normal;
    src: url(fonts/arial/arial.ttf);
}

@font-face {
    font-family: 'Arial Condensed';
    font-style: normal;
    font-weight: normal;
    src: url(fonts/arial/Arialn.ttf);
}

@font-face {
    font-family: 'Arial Condensed';
    font-style: normal;
    font-weight: lighter;
    src: url(fonts/arial/ArialTh.ttf);
}