:root {
    -webkit-touch-callout: none;
    -webkit-user-callout: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-modify: none;
    -webkit-highlight: none;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --app-text: #e8e1f2;
    --app-100: #020102;
    --app-200: #070609;
    --app-300: #0e0d13;
    --app-400: #14121b;
    --app-500: #191825;
    --app-600: #221e2e;
}

@media (prefers-color-scheme: dark) {

}

html {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    overscroll-behavior: none;
    font-family: 'GG Sans', sans-serif;
}

body {
    background: var(--app-400);
    color: var(--app-text);
    padding-top: env(safe-area-inset-top);
}