.light {
    --app-text: #171630;
    --app-link: #3679f0;
    --app-100: #f4f7ff;
    --app-200: #e9f0ff;
    --app-300: #c8d9ff;
    --app-400: #e0ebff;
    --app-500: #a5b8e2;
    --app-600: #c8d9ff;
    --app-700: #7176a1;
    --app-800: #6c708d;
    --app-900: #60637b;
    
    --titlebar: rgba(224, 235, 255, 0.8);

    .chat {
        background: var(--app-100);
    }
    
    .chat:active {
        background: var(--app-500);
    }

    .chat.favourite {
        background: var(--app-400);
    }

    .chat.chat.favourite:active {
        background: var(--app-500);
    }
}

.oled {
    --app-text: #e7e9f3;
    --app-link: #3679f0;
    --app-100: #000000;
    --app-200: #000;
    --app-300: #0f1014;
    --app-400: #060606;
    --app-500: #16171c;
    --app-600: #2d2d35;
    --app-700: #18191e;
    --app-800: #313139;
    --app-900: #555568;

    --titlebar: rgba(0, 0, 0, 0.8);

    .chat {
        background: var(--app-100);
    }

    .chat:active {
        background: var(--app-500);
    }

    .chat.favourite {
        background: var(--app-400);
    }

    .chat.chat.favourite:active {
        background: var(--app-500);
    }
}

.catppuccin-macchiato {
    --app-text: #cad3f5;
    --app-link: #8aadf4;
    --app-100: #181926;
    --app-200: #1e2030;
    --app-300: #24273a;
    --app-400: #363a4f;
    --app-500: #494d64;
    --app-600: #5b6078;
    --app-700: #6e738d;
    --app-800: #8087a2;
    --app-900: #939ab7;

    --titlebar: rgba(24, 25, 38, 0.8);

    --app-blue: #8aadf4;
    --app-red: #ed8796;
    --app-green: #a6da95;
    --app-yellow: #eed49f;
    --app-pink: #f5bde6;
    --app-purple: #c6a0f6;
    --app-orange: #ee99a0;
}

.watermelon {
    --app-text: #222222;
    --app-link: #ff5596;
    --app-100: #f8fff8;
    --app-200: #f0fff4;
    --app-300: #e3f5ef;
    --app-400: #f0fff4;
    --app-500: #2ac690;
    --app-600: #ade7d2;
    --app-700: #f0fff4;
    --app-800: #f0fff4;
    --app-900: #b6ccbc;

    --titlebar: rgba(255, 255, 255, 0.8);

    --app-blue: #ff5596;
    --app-red: #ff5596;
    --app-green: #29c68f;
    --app-yellow: #f8ff01;
    --app-pink: #ea5cbd;
    --app-purple: #9366fa;
    --app-orange: #ff9e01;

    .chat {
        background: var(--app-100);
    }
    
    .chat:active {
        background: var(--app-500);
    }

    .chat.favourite {
        background: var(--app-400);
    }

    .chat.chat.favourite:active {
        background: var(--app-500);
    }
}