body {
    margin: 0;
    font-family: Arial;
    background-color: #192449;
    color: #6286ff;
}

p {
    margin: 0px;
}

a {
    color: inherit;
}

.special {
    transition: all cubic-bezier(.2,-.25,0,1.6) 0.2s;
    letter-spacing: normal;
}

.special:hover {
    letter-spacing: 0.12em;
}

.main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-inner {
    display: block;
    padding: 30px;
    margin-top: 25vh;
    margin-bottom: 25vh;
    max-width: 500px;
}

.artist {
    font-size: 20px;
}

.info {
    font-size: 20px;
}

.header {
    font-size: 48px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.subheader {
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #5c7ce8;
}

/*Fonts*/

@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/arial/arial.ttf);
}

@font-face {
    font-family: 'Arial Condensed';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/arial/Arialn.ttf);
}

@font-face {
    font-family: 'Arial Condensed';
    font-style: normal;
    font-weight: lighter;
    src: url(../fonts/arial/ArialTh.ttf);
}