
@font-face {
    font-family: helvetica;
    src: url(fonts/helveticaneue/HelveticaNeue25UltraLight.ttf);
    font-weight: 100;
}

@font-face {
    font-family: helvetica;
    src: url(fonts/helveticaneue/HelveticaNeue36Thin.ttf);
    font-weight: 200;
}

@font-face {
    font-family: helvetica;
    src: url(fonts/helveticaneue/HelveticaNeue45Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: helvetica;
    src: url(fonts/helveticaneue/HelveticaNeue55Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: helvetica;
    src: url(fonts/helveticaneue/HelveticaNeue65Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: helvetica;
    src: url(fonts/helveticaneue/HelveticaNeue75Bold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: helvetica;
    src: url(fonts/helveticaneue/HelveticaNeue85Heavy.ttf);
    font-weight: 700;
}

@font-face {
    font-family: helvetica;
    src: url(fonts/helveticaneue/HelveticaNeue95Black.ttf);
    font-weight: 800;
}

@font-face {
    font-family: helvetica italic;
    src: url(fonts/helveticaneue/HelveticaNeue25UltraLightItalic.ttf);
    font-weight: 100;
}

@font-face {
    font-family: helvetica italic;
    src: url(fonts/helveticaneue/HelveticaNeue36ThinItalic.ttf);
    font-weight: 200;
}

@font-face {
    font-family: helvetica italic;
    src: url(fonts/helveticaneue/HelveticaNeue45LightItalic.ttf);
    font-weight: 300;
}

@font-face {
    font-family: helvetica italic;
    src: url(fonts/helveticaneue/HelveticaNeue55RegularItalic.ttf);
    font-weight: 400;
}

@font-face {
    font-family: helvetica italic;
    src: url(fonts/helveticaneue/HelveticaNeue65MediumItalic.ttf);
    font-weight: 500;
}

@font-face {
    font-family: helvetica italic;
    src: url(fonts/helveticaneue/HelveticaNeue75BoldItalic.ttf);
    font-weight: 600;
}

@font-face {
    font-family: helvetica italic;
    src: url(fonts/helveticaneue/HelveticaNeue85HeavyItalic.ttf);
    font-weight: 700;
}

@font-face {
    font-family: helvetica italic;
    src: url(fonts/helveticaneue/HelveticaNeue95BlackItalic.ttf);
    font-weight: 800;
}